.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.swp
*.iml
/.idea/caches/gradle_models.ser
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/app/.idea/gradle.xml
/app/gradle/wrapper/gradle-wrapper.jar
/app/gradle/wrapper/gradle-wrapper.properties
/app/gradlew
/app/gradlew.bat
/app/local.properties
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/release/output.json
/app/.idea/codeStyles/Project.xml
/app/.idea/inspectionProfiles/Project_Default.xml
/app/.idea/runConfigurations.xml
/app/.idea/vcs.xml
/app/.idea/workspace.xml
/app/release/新版活体校验Demo.apk
